.title {
    font-family: "Jost", sans-serif;
}
.nav-item {
    font-family: "Jost", sans-serif;
}
.btn-warning {
    color: #fff;
    background-color: #ffbd59 !important;
    border-color: #ffbd59;
}

.btn-warning:hover {
    color: #fff;
    background-color: #ffbd59;
    border-color: #eb9316;
}
.bg-warning {
    background-color: #ffbd59 !important;
}
.card-header {
    background-color: #ffbd59 !important;
}

.d-flex {
    justify-content: space-between;
}
.link-widget > a {
    text-decoration: none;
}

.navbar {
    background-color: #ffbd59 !important;
}
.active-link {
    color: #000;
}

.active-link:hover {
    color: #ffbd59;
}

.nav-link {
    color: #000000;
    text-transform: uppercase;
    font-size: 0.9rem;
}
.nav-link:hover {
    color: #000000;
    text-decoration: underline;
}

.navbar-brand {
    color: #000000;
}
.navbar-brand:hover {
    color: #000000;
}
.footer {
    background-color: #000000;
    /* min-height: fit-content; */
    /* background-image: none; */
    bottom: 0;
    /* position: fixed; */
}

.footer p {
    color: #999999 !important;
}

.footer a {
    color: #999999 !important;
}

.bg-orange {
    background-color: #ff6347 !important;
}

.footer a:hover,
.footer .fa:hover,
.footer .fa:focus {
    color: #ffbd59 !important;
}

.text-warning {
    color: #ffbd59 !important;
}

body {
    font-family: "Open Sans", sans-serif;
    min-height: 90vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Jost", sans-serif;
  }

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #ffbd59;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #ffbd59;
}

.gallery {
    overflow: hidden;
}
.swiper-slider {
    width: 7em;
}
.swiper-slide img {
    width: 30%;
    /* border-radius: 50%; */
}
.gallery .swiper-pagination {
    margin-top: 20px;
    position: relative;
}
.gallery .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid orange;
}
.gallery .swiper-pagination .swiper-pagination-bullet-active {
    background-color: orange;
}
.gallery .swiper-slide-active {
    text-align: center;
}

@media (max-width: 768px) {
    .gallery .swiper-wrapper {
        padding: 40px 0;
    }
}
@media (max-width: 468px) {
    .swiper-slider {
        width: 50px;
    }
    .swiper-slide > img {
        width: 50%;
    }
}
.carousel {
    overflow: hidden;
    margin: auto;
}

@media only screen and (max-width: 768px) {
    .carousel {
        /* max-height: 500px; */
        overflow: hidden;
        margin: auto;
    }
    .carousel-inner .carousel-item > img {
        /* position: absolute; */
        object-fit: cover;
        height: 600px;
        width: 100%;
    }
}

.carousel-inner .carousel-item > img {
    /* position: absolute; */
    object-fit: cover;
    height: 600px;
    width: 100%;
}

.pagination > li > a,
.pagination > li > span {
    color: #ffffff;
    background-color: #ffbd59;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #ffbd59;
    border-color: #ffbd59;
    color: #ffffff;
}