body {
    font-size: 15px;
    line-height: 26px;
    background-color: #ffffff;
    /* font-family: cursive; */
}




/* HEADER 
**************************************/

.header {
    padding: 0.4rem 0;
    position: relative;
    background-color: #ffffff;
}

.navbar-inverse .navbar-nav .nav-link,
.navbar-nav .nav-link {
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    padding: 0.9rem 0 0.8rem;
    text-transform: capitalize;
    color: #121212;
}

.dropdown-toggle::after {
    display: inline-block;
    width: auto;
    height: auto;
    margin-left: 0.5em;
    margin-top: 0rem;
    vertical-align: middle;
    content: "\f107";
    border: 0;
    /* font-family: 'FontAwesome'; */
}

.navbar-toggleable-md .navbar-nav .nav-link {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}

.header-section {
    padding: 3rem 0 1.5rem;
    background-color: #ffffff;
}

.navbar-nav {
    margin: 0;
}

.header .dropdown-menu {
    padding: 0;
    box-shadow: none;
    border-radius: 0;
    min-width: 240px;
    margin-top: 15px !important;
    border-color: #edeff2;
}

.header .dropdown ul li {
    border-bottom: 1px solid #f5f5f5;
}

.header .dropdown-item {
    font-weight: 400;
    text-transform: capitalize;
    font-size: 14px;
    padding: 4px 1.8rem;
}

.header .dropdown-item:hover,
.header .dropdown-item:focus {
    color: #121212 !important;
    background-color: #edeff2;
}

.header .dropdown ul li:last-child {
    border-bottom: 0;
}

.header .dropdown-item span {
    position: absolute;
    right: 20px;
    top: 2px;
}

.header-section {
    margin-bottom: 0;
}

.topsocial .fa {
    margin-right: 0.5rem;
    font-size: 15px;
}

.topbar-section {
    display: block;
    position: relative;
    background-color: #ffffff;
    padding: 1rem 2rem;
    font-size: 14px;
    border-bottom: 1px dashed #e2e2e2;
}

.topbar-section a {
    color: rgba(0, 0, 0, 0.8) !important;
}

.topbar-section a:focus,
.topbar-section a:hover {
    color: rgba(0, 0, 0, 1) !important;
}

.topbar-section .list-inline {
    margin: 0;
    padding: 0;
}

.topbar-section .tooltip-inner {
    margin-top: 10px !important;
}

.topbar-section .list-inline-item {
    padding: 0 0.4rem !important;
}

.topmenu i {
    padding-right: 0.3rem;
}

.menu-large {
    overflow: hidden;
    position: static !important;
}

.dropdown-menu.megamenu {
    margin-top: 7px !important;
    left: 0;
    right: 0;
    width: 100%;
}

.dropdown-menu .dropdown-menu {
    margin-top: -1px !important;
}

/* SECTIONS
**************************************/

.section {
    padding: 4rem 0;
    display: block;
    position: relative;
    background-color: #ffffff;
}

.embed-responsive-item {
    padding: 0.4rem !important;
    display: block;
    background-color: #fff;
}

/* FOOTER
**************************************/

.footer .widget-title {
    display: table;
    font-size: 18px;
    line-height: 1;
    margin: 0 0 2rem;
    /* padding: 0 0 0.5rem; */
}

.footer.wb {
    background-color: #ffffff;
}

.footer.wb .hovereffect {
    opacity: 0.1;
    background-color: rgba(0, 0, 0, 0.1);
}

.footer ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer ul li {
    margin-bottom: 0.3rem;
}

.footer ul li:last-child {
    margin-bottom: 0;
}

.footer .fa-star {
    font-size: 12px;
}

.footer h5,
.footer ul li a {
    color: #111111;
}

.footer a,
.footer p,
.blog-list-widget small {
    color: rgba(0, 0, 0, 0.6) !important;
}

.footer-text .fa {
    font-size: 21px;
    margin: 0 0.3rem;
}

.blog-list-widget small {
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.newsletter-widget h4 {
    font-size: 2.4rem;
    padding: 0;
    margin: 0 0 1.5rem;
}

.newsletter-widget p {
    color: rgba(0, 0, 0, 0.4);
    font-size: 18px;
    padding: 0;
    margin: 0 0 2rem;
}

.newsletter-widget .form-inline {
    display: block;
}

.newsletter-widget .form-inline .form-control {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #dbdde0;
    border-radius: 0;
    box-shadow: none;
    display: inline-block;
    font-size: 14px;
    height: 56px;
    padding-left: 1.5rem;
    line-height: 1;
    letter-spacing: 0.3px;
    vertical-align: middle;
    width: 400px;
}

.card-block {
    -moz-box-flex: 1;
    background: #202020 none repeat scroll 0 0;
    padding: 1.25rem 3rem;
    border-radius: 0 !important;
}

.top-search .btn:hover,
.top-search .btn:focus,
.top-search .btn {
    position: absolute;
    right: 4%;
    border: 0 !important;
    border-left: 1px solid #555555 !important;
    color: #555555 !important;
    font-size: 24px;
    background-color: transparent !important;
    height: 54px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.top-search .newsletter-widget .form-inline .form-control {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    color: #555555;
    font-size: 24px;
    width: 100%;
}

.form-wrapper
    .newsletter-widget
    .form-inline
    .form-control::-webkit-input-placeholder {
    color: #a2abb1;
    opacity: 1;
}

.form-wrapper .form-control::-moz-placeholder {
    color: #a2abb1;
    opacity: 1;
}

.form-wrapper .form-control:-ms-input-placeholder {
    color: #a2abb1;
    opacity: 1;
}

.form-wrapper .form-control::placeholder {
    color: #a2abb1;
    opacity: 1;
}


.btn {
    background-color: #111111;
    border: 0 none;
    border-radius: 0;
    font-size: 14px;
    font-weight: bold;
    padding: 0.8rem 0.8rem;
    text-transform: none;
}

.link-widget li {
    padding: 0.4rem 0.2rem 0.6rem;
    text-transform: capitalize;
    line-height: 1;
    font-weight: 500;
    position: relative;
    margin: 0;
    border-bottom: 1px dashed #dadada;
}

.link-widget li:last-child {
    border-bottom: 0 dashed #dadada;
}

.link-widget li span {
    position: absolute;
    right: 0;
}
